.SuggestionsList {
  position: absolute;
  text-align: center;
  padding: 6px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0;

  .chat_bubble {
    margin: 12px 6px;
    cursor: pointer;
    float: none;
  }
}