<section class="row about--experiences">
  <section class="bio">
    <div class="from-them">
      <p>Hey, I am looking for a web developer. I have your <a href="http://www.dannysperry.com/resume.pdf">resume</a> and wanted to know a little bit more about you. Can you tell me about your development experience?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>I have 4 years of agency and freelance web development experience developing both front-end and back-end interfaces for mobile and web devices. I'm a constant learner. I've been taking things apart and putting them back together since I was barely walking. I'm flexible with teammates and stern with expectations. I take lead by setting a good example with helping others during my day and making sure tests pass before submitting pull requests. I'm self aware and analytical to a fault, it generates constant improvement and hard work ethic out of me.</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>lol this struggle is so real right now!</p>
    </div>
    <div class="clear"></div>
    <div class="from-me bio--doge_image">
      <p></p>
    </div>
    <div class="clear"></div>
    <div class="from-them">
      <p>Hahaha, naming is so hard! That's some pretty serious stuff, where's all the fun being had?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>Well I grew up in California's Eastern Sierra Mountains. Rock climbing in summers. Snowboarding or sledding in the winter. I really like development honestly. I tend to work on something new just to play with the latest framework, language, or design pattern.</p>
    </div>
    <div class="clear"></div>
    <div class="from-them">
      <p>Where do you work?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>I have a pretty awesome home office in the beautiful Pacific North West! A sit/stand desk, my favorite music, and steady back and forth communication between clients and I. What I save in my commute, most goes towards coffee and healthy meals throught the work day. Remote work isn't for everybody, but I don't try to be like everybody. It's proven to be a more productive experience for me and previous clients.</p>
    </div>
  </section>
</div>