<section class="row about--experiences">
  <section class="bio">
    <div class="from-them">
      <p>Hi! I saw your <a href="http://www.dannysperry.com/resume.pdf">resume</a>. I'm wondering if we'd be a good fit. What's your exerience with working remotely?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>I've been working from home full-time for the last 2 years. I've learned a lot about how to do it right and wrong. Communication and transparancy make it all so much easier on me. It keeps me accountable and makes me heard. I've been on a 10 person distributed team.</p>
    </div>
    <div class="clear"></div>
    <div class="from-them">
      <p>Very Nice! What's the most complex problem you've had to solve?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>The project I just mentioned, I knew a little JavaScript and had a decent grasp on OO with Ruby and Objective-C. I'd really only understood the Rails framework before this and jumping into this old Angular 1.1 project was like the first days of my first Ruby job. It was like I knew everything but couldn't remember how it all came together with various framework patterns. I was suprised how quickly I was able to pick up the same patterns and reuse them. I felt like I was doing something challenging while leaning on previous experience.</p>
    </div>
    <div class="clear"></div>
    <div class="from-them">
      <p>Do you prefer JS or Ruby?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>Ruby is still my favorite. I write it for fun, and any API I build is still built in Rails. However, I recongize the power between the two and where each falls short. Rails 5 channels and turbolinks5 make this a little easier, but data binding in frameworks like React and Angular are definitely easier to manage. With babel, writing JS really doesn't bother me anymore. Also since we are on the note of language switching, it's fair to mention that I can read templating languages that render HTML, CSS, JS. If that's unclear, I'm talking about sass, less, coffeescript, typescript, slim, haml, etc.</p>
    </div>
    <div class="clear"></div>
    <div class="from-them">
      <p>Awesome! I guess my last question is how familiar with the development process are you?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>I have small gaps in things I need to know at this point. I'd definitely call myself a senior level developer. I can code well in the languages that I know. I have experience managing and designing projects pre-build phase. I can get a test suite and continuous deployment set up or plug in elastisearch, redis, or a load balancer when needed. Project management techniques with both agile and waterfall. Client management techniques I've learned before becoming a developer. Finishing MVP's and resigning work!</p>
    </div>
  </section>
</div>
