<section class="row about--experiences">
  <section class="bio">
    <div class="from-them">
      <p>What makes you... you?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>I have 4 years of agency and freelance web development experience developing both front-end and back-end interfaces for mobile and web devices. I'm a constant learner, since before I could remember, I've been taking things apart just to to see how it works. I'm flexible in negotiating while stern with expectations. I take lead by setting a good example to my peers in helping through the day and submitting code I'd want to review. I'm self aware and analytical to a fault, it makes me constantly bettered through persistance.</p>
    </div>
    <div class="clear"></div>
    <div class="from-them">
      <p>Pretty serious stuff... any hobbies?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>I grew up in California's Eastern Sierra Mountains. Rock climbing in Summers. Snowboarding or sledding in the winter. I like to paint, read, and write in the eventings.</p>
    </div>
    <div class="clear"></div>
    <div class="from-them">
      <p>Where are you?</p>
    </div>
    <div class="clear"></div>
    <div class="from-me">
      <p>I have a pretty awesome home office in the beautiful Pacific North West! A sit/stand desk, my favorite music, and steady back and forth communication in between. What I save in my commute, most goes towards coffee and healthy meals throught the work day. Remote work isn't for everybody, but I don't try to be like everybody. It's proven to be a more productive experience for me and previous clients.</p>
    </div>
  </section>
</div>