<header class="banner" id="particles-js">
  <div class="banner--content">
    <h1>
      <span class="banner--title">{{site.username}}</span>
      <span class="banner--description">{{site.user_title}}</span>
    </h1>
    <div class="banner--icons">
      <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>
    <div class="banner--nav_links">
      <a class="banner--nav_link" href="#about" data-scroll>About Me</a>
      <a class="banner--nav_link" href="#projects" data-scroll>Projects</a>
    </div>
  </div>
  <a class="down banner--down_arrow" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</header>
