<header class="banner" id="particles-js">
  <div class="banner--content">
    <h1>
      <span class="banner--title">{{site.username}}</span>
      <span class="banner--description">{{site.user_title}}</span>
    </h1>
    <div class="banner--nav_links">
      <a class="banner--nav_link" href="#about" data-scroll>About Me</a>
      <a class="banner--nav_link" href="#projects" data-scroll>Projects</a>
    </div>
  </div>
  <a class="down banner--down_arrow" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</header>
