<section class="projects" id="projects">
  <div class="container">
    <div class="projects--title">
      <h3> Projects and Code </h3>
    </div>

    {% for item in site.projects %}
    <article class="row project">
      <div class="project--image">
        <img alt="project image" src="{{ item.logo | prepend: site.baseurl }}" />
      </div>
      <div class="project--description">
        <h5>{{ item.title }}</h5>
        <time datatime="{{ item.date.datetime }}">{{ item.date.text }}</time>
        <p>{{ item.description }}</p>
        <a class="project--link" href="{{ item.url.href }}">{{ item.url.title}}</a>
      </div>
    </article>
    {% endfor %}
    {% for item in site.code_samples %}
    <article class="row code_samples">
      <div class="project--description">
        <h5>{{ item.title }}</h5>
        <p>{{ item.description }}</p>
        <a class="project--link" href="{{ item.url.href }}">{{ item.url.title }}</a>
      </div>
    </article>
    {% endfor %}
  </div>
</section>