<section class="projects" id="projects">
  <div class="container">
    <div class="projects--title">
      <h3> Featured Projects </h3>
    </div>

    {% for item in site.experience_items %}
    <article class="row project">
      <div class="six columns project--image">
        <img alt="mountains" src="{{ item.logo | prepend: site.baseurl }}" />
      </div>
      <div class="six columns project--description">
        <h5>{{ item.title }}</h5>
        <li>
          <time datatime="{{ item.date.datetime }}">{{ item.date.text }}</time>
        </li>
        <p>{{ item.description }}</p>
        <a class="project--link" href="{{ item.url }}">Check it out</a>
      </div>
    </article>
    {% endfor %}
  </div>
</section>