@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import 'settings/variables',
        'settings/keyframes.pulse';

@import 'generics/base';

@import 'elements/svg';

@import 'objects/banner',
        'components/banner.content',
        'components/banner.description',
        'components/banner.down_arrow',
        'components/banner.icons',
        'components/banner.link',
        'components/banner.title';

@import 'objects/project',
        'components/project.description',
        'components/project.image',
        'components/project.link';

@import 'components/about.experiences',
        'components/about.title';

@import 'objects/footer';