.banner {
  background: $c--main;
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .particles-js-canvas-el {
    width:100vw !important;
    height:100vh !important;
  }
}