section.bio {
  margin: 50px auto;
  text-align: center;

  div {
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 24px;
  }

}



.clear {clear: both}
div.from-me, div.from-them {
  max-width: 400px;
  position:relative;
  padding:10px 20px;
  border-radius:19px;
  &:before, &:after {
    content:"";
    position:absolute;
    bottom:-2px;
    height:20px;
  }
  &:before {
    -webkit-transform:translate(0, -2px);
  }
  &:after {
    width:26px;
  }
  p {
    margin-bottom: 0;
  }
  &.bio--doge_image {
    padding: 0;
    &:before {
      border-color: #1c292b;
      z-index: 0;
    }
    p {
      background: url('../img/doge.gif') no-repeat;
      background-size: contain;
      width: 400px;
      height: 163px;
      border-radius: 19px;

    }
  }
}
div.from-me {
  color:white; 
  background:#0B93F6;
  float: right;

  &:before {
    z-index:-1;
    right:-7px;
    border-right:20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
  }

  &:after {
    z-index:1;
    right:-56px;
    background:white;
    border-bottom-left-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}
div.from-them {
  background:#E5E5EA;
  color: black;
  float: left;

  &:before {
    z-index:2;
    left:-7px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
  }

  &:after {
    z-index:3;
    left:4px;
    background:white;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}