.Footer {
  background: $c--main;
  padding: 0.625rem 0;
  text-align: center;
  color: $c--white;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: $c--white;
    &:hover{
      color: $c--secondary;
    }
    &:active {
      color: $c--secondary;
    }
  }
}