---
layout: blog
---



<article class="post" id="intro">
  <div class="content">
    <section class="post--header">
      <time datatime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      <h1>{{ page.title }}</h1>
      {% assign words = content | number_of_words %}
      {% if words < 360 %}
        <h4>Estimated read time: 1 min</h4>
      {% else %}
        <h4>Estimated read time: {{ words | divided_by:180 }} mins</h4>
      {% endif %}
      <article class="post--content">
        {{ content }}
      </article>
    </section>
  </div>
</article>
<p class="post--back_to">
  <a href="{{ site.baseurl }}/blog">Back to blog</a>
</p>